<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>

<body>
    <body style="background-color: rgb(248, 229, 58);"></body>
    <%- include('partialhubunganserius/navbar2') %>
    <h1> Update Your profile</h1>
   
    <table border="1">
        <tr>
            <th>No</th>
            <th>fullname</th>
            <th>gender</th>
            <th>age</th>
            <th>email</th>
            <th>domisili</th>
            <th>action</th>
           
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
            <a href="/myprofile/:Userid/edit">  Edit </a>
            </td>
        </tr>
    </table>
</body>

</html>