<%- include('partial/navbar') %>
<h2>These are the People willing to have a person to talk to</h2>
<h4>if you havent decided yet, type of relationship you want, maybe you can try right here, we dont know whats in the future right??</h4>
<body style="background-color: rgb(248, 229, 58);"></body>
<table border="3">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">fullname</th>
            <th scope="col">gender</th>
            <th scope="col">age</th>
            <th scope="col">domisili</th>
            <th>Action</th>
        </tr>
    </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href="/relationship">  add </a> 
        </tr>   
    
</table>