<%- include('partialtemankondangan/navbar4') %>
<h3>still single?? and need acompany for wedding?? feelin afraid to go
    to a party just by your self??</h3s>
          <h4>Enjoy our latest feature for a fake couple #just for one place a day</h4>
<body style="background-color: rgb(248, 229, 58);"></body>
<table border="3">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">fullname</th>
            <th scope="col">gender</th>
            <th scope="col">age</th>
            <th scope="col">domisili</th>
            <th>Action</th>
        </tr>
    </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <a href="/relationship">  add </a> 
        </tr>   
    
</table>