<nav> <a href='/'>
    <h1>WELCOME TO LOVETIVE</h1> 
      </a>
    <p>Where Love Can be So Active</p>
    <p>Your Dating app buddy to find your best date</p>
    
    <img src="Daco_4914755.png" alt="Trulli" width="400" height="333"style="float:right;margin:900px,0px">

  

</nav>