<nav> <a href='/'>
    <h1>WELCOME TO LOVETIVE</h1> 
      </a>
    <p>Where Love Can be So Active</p>
    
    <img src="PinClipart.com_laptop-clipart-png_5338483.png" alt="Trulli" width="500" height="333"style="float:right;margin:900px,0px">

  <li><a href = "/teachers">Teacher</a></li>
  <li><a href = "/students">Students</a></li>
  <li><a href = "/subjects">Subject</a></li>

</nav>